//font size
$fs-xs: 12px !default;
$fs-s: 14px !default;
$fs-m: 15px !default;
$fs-title: 16px !default;
$fs-l: 20px !default;
$fs-xl: 26px !default;

//input size
$inputs-s: 24px !default;
$inputs-m: 40px !default;

//button size
$bs-s: 24px !default;
$bs-m: 28px !default;
$bs-l: 32px !default;
$bs-xl: 40px !default;

//icon size
$icons-s: 16px !default;
$icons-m: 20px !default;
$icons-l: 24px !default;
$icons-xl: 32px !default;

$label-max-size: 70px !default;
$bw-min: 72px !default;
$logo-size: 160px !default;
$header-height: 56px !default;
$modal-header-height: 36px !default;
